@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #0ca2eb;
	--primary-color-2: #2fc3f2;
	--primary-color-3: #24d5ca;
	--primary-color-4: #18d39f;
	--primary-color-5: #f268f5;
	--primary-gray: #483d57;
	--primary-gray-2: #7997a8;
	--primary-gray-3: #edf1f4;
}

@layer base {
	body {
		@apply bg-white;
	}
	::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}

	::-webkit-scrollbar-track {
		background-color: var(--primary-gray-3);
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb {
		background: var(--primary-color) !important;
		border-radius: 10px;
	}
}

@layer utilities {
	.f-c {
		@apply flex justify-center items-center;
	}

	// Loading
	.dots-flow:before {
		-webkit-animation: dots-flow 0.85s infinite ease;
		animation: dots-flow 0.85s infinite ease;
		border-radius: 100%;
		content: "";
		height: 16px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -40px);
		transform: translate(-50%, -40px);
		width: 16px;
	}
	@-webkit-keyframes dots-flow {
		0%,
		100% {
			-webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
				26px 32px 0 0 white;
			box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
				26px 32px 0 0 white;
		}
		35% {
			-webkit-box-shadow: -26px 32px 0 4px var(--primary-color),
				0px 32px 0 0 white, 26px 32px 0 0 white;
			box-shadow: -26px 32px 0 4px var(--primary-color), 0px 32px 0 0 white,
				26px 32px 0 0 white;
		}
		50% {
			-webkit-box-shadow: -26px 32px 0 0 white,
				0px 32px 0 4px var(--primary-color), 26px 32px 0 0 white;
			box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px var(--primary-color),
				26px 32px 0 0 white;
		}
		65% {
			-webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
				26px 32px 0 4px var(--primary-color);
			box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
				26px 32px 0 4px var(--primary-color);
		}
	}
	@keyframes dots-flow {
		0%,
		100% {
			-webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
				26px 32px 0 0 white;
			box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
				26px 32px 0 0 white;
		}
		35% {
			-webkit-box-shadow: -26px 32px 0 4px var(--primary-color),
				0px 32px 0 0 white, 26px 32px 0 0 white;
			box-shadow: -26px 32px 0 4px var(--primary-color), 0px 32px 0 0 white,
				26px 32px 0 0 white;
		}
		50% {
			-webkit-box-shadow: -26px 32px 0 0 white,
				0px 32px 0 4px var(--primary-color), 26px 32px 0 0 white;
			box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px var(--primary-color),
				26px 32px 0 0 white;
		}
		65% {
			-webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
				26px 32px 0 4px var(--primary-color);
			box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white,
				26px 32px 0 4px var(--primary-color);
		}
	}
}

@layer components {
	.card {
		@apply w-2/4 lg:w-full h-[300px] bg-white lg:pt-4;
		h1 {
			@apply text-center text-xl font-semibold text-primary-gray;
		}
	}
}
